.indexbody {
  background: #87CEFA;
  background-size: 100%;
}

.resumebody {
  background: #87CEFA;
  background-size: 100%;
}

.mybandbody {
  background: #87CEFA;
  background-size: 100%;
}

/*Nav bar*/

.navbar{
  position: relative;
  padding: 0.5rem 1rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar a.active{
  background-color: #A9A9A9;
  color: white;
}

.navbar ul{
  background-color: #a6a6a6;
  margin: auto;
  padding: 10px;
  overflow: hidden;
}

.navbar li{
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  float: right;
  list-style-type: none;

}
.navbar a{
  display: inline-block;
  text-align:center;
  text-decoration: none;
  padding: 15px;
  transition: all 0.3s;

}

/*end nav bar*/

/*Index*/

.indexcontent{
  padding-bottom: 20px;
  position: relative;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 2px #999;
  margin: 30px auto;
  padding-bottom: 40px;
  background: #FFFFFF;
}

.indexcontent h1{
  text-align: center;
  margin: 10px auto;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Comfortaa', cursive;
}

.indexcontent p{
  font-family: 'Comfortaa', cursive;
}

/*End Index*/

/*Resume*/

.resumecontent {
  padding-bottom: 20px;
  position: relative;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 2px #999;
  margin: 30px auto;
  padding-bottom: 40px;
  background: #FFFFFF;
  font-family: 'Comfortaa', cursive;
}

.resumetitle{
  text-align: center;
  font-size: 35px;
  font-family: 'Acme', sans-serif;
  color: #f5f5f5;
}

.header{
  margin: 10px auto;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
  border-bottom: 1px solid #333;
  font-family: 'Comfortaa', cursive;
}

.perinfo{
  text-align: center;
  font-family: 'Comfortaa', cursive;
{

.academic{
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

.extraactiv{
  text-align: center;
  font-family: 'Comfortaa', cursive;
{

.skills{
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

/*End of Resume*/

/*My band*/

.mybandcontent{
  padding-bottom: 20px;
  position: relative;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 2px #999;
  margin: 30px auto;
  padding-bottom: 40px;
  background: #FFFFFF;
  opacity: 0.9;
}

.mybandtitle{
  text-align: center;
  font-size: 3.5em;
  font-family: 'Comfortaa', cursive;
}

.aboutband{
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

.begining{
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

.concerts{
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

.ended{
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

.video{
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

/*End My Band*/

/*Footer*/
	
.footer {
  background-color: #B0C4DE;
  color: #Eac67a;
  font-family: 'Comfortaa', cursive;
  font-size: .85em;
  text-align: center;
  padding: 5px;
  border-top: 1px solid #ff533d;
}

/*End Footer*/
	
img.Pic8698 {
  width: 85%;
  height: auto;
  float: right;
  margin: 20px;
  box-shadow: 2px 2px 3px #888888;
}
	
